body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    background-color: black;
    color: white;
    }

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    overflow-x: hidden;
}

.content {
    background: rgba(0, 0, 0, 0.65);
    padding: 25px;
    max-width: 900px;
    margin: 30px auto;
    border-radius: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 10px;
}

input, button{
    padding: 8px;
    margin-top: 5px;
}

input {
    border: none;
    border-radius: 5px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px #ff9800;
}

button{
    margin-top: 15px;
    padding: 10px;
    background-color: gray;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: bakground-color 0.3s;
}

button:hover {
    background-color: #e68900;
}

p, li, h1 {
    text-align: center;
    line-height: 1.6;
}

h1, h2, h3{
    text-align: center;
}

.img-center {
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 600) {
    .content {
        margin: 20px;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    input, button {
        font-size: 16px;
    }
}

ul {
    padding-left: 20;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 40px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.whatsapp-float img {
    width: 35px;
    height: 35px;
}

.proyecto {
    background-color: #0012d456;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.mobile-img {
    width: 100%;
    height: auto;
    display: block;
}

.hero {
    position: relative;
    text-align: center;
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
}

.menu-grod {
    display: grid;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    color: black;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

input, select, textarea {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    background-color: #25D366;
    color: white;
    font-weight: bold;
}



